<html>
<head>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
<script src="bower_components/jquery/dist/jquery.js"></script>

</head>
<body>
<h1>Welcome to Kiran's Blog</h1>
<a href="/blog-create" class="btn btn-primary">Create New</a>
<% if(errorData){ %>
  <h1> <%= errorData %></h1>
<% } else { %>
<% for(var i=0;i<blogs.length;i++){ %>
<div class="panel panel-default">
<div class="panel-body">

 <textarea name="blogContent" id="blogContent_<%= blogs[i]._id %>"> <%= blogs[i].blogContent %></textarea>
 <button class="btn btn-primary" id="<%= blogs[i]._id %>"  >Update</button>
 </div></div><br>
  <% }  } %>
<script src="app/blog.js"></script>

</body>
</html>
